.navbar__title{
    color: #fff;
    text-decoration: none;
}
.navbar__list{
    color: #ffff;
}
.cursor-pointer{
    cursor: pointer;

}
.device__rating{
    background: url('./assets/img/Star1.png') no-repeat center;
    
}